name: Automation Test Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # Checkout source code
      - name: Checkout Repository
        uses: actions/checkout@v3

      # Setup Java (for UI & API tests)
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"

      # Give execution permission for gradlew
      - name: Grant execute permission for Gradle
        run: chmod +x gradlew

      # Install dependencies and run tests
      - name: Run Gradle Tests
        run: ./gradlew clean test

      # Upload UI / API Test Reports
      - name: Upload Test Reports
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: build/reports/tests/test/